<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <title th:text="#{page.text.orders.title}"></title>
</head>
<body>
<div th:insert="parts/menuBar.html :: navbar"></div>

<div class="alert alert-success" th:if="${cancelSuccess}" th:text="#{message.successProcess}"></div>

<div th:if="${order == null}" class="alert alert-danger"
     th:text="#{message.ordersNotFound}"></div>

<div th:if="${order != null}">
    <table class="table">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td th:text="#{label.form.user}"></td>
            <td th:text="${order.user.login + ' - ' + order.user.lastName + ' ' + order.user.name + ' ' + order.user.patronymicName}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.car}"></td>
            <td th:text="${order.car.carModel.model + ' ' + order.car.carModel.serialNumber}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.enginePower}"></td>
            <td th:text="${order.car.enginePower}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.fuelTankCapacity}"></td>
            <td th:text="${order.car.fuelTankCapacity}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.releaseYear}"></td>
            <td th:text="${order.car.releaseYear}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.mileage}"></td>
            <td th:text="${order.car.mileage}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.orderDate}"></td>
            <td th:text="${#dates.format(order.orderDate,'HH:mm dd-MM-yyyy')}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.price}"></td>
            <td th:text="${order.price}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.amount}"></td>
            <td th:text="${order.car.amountAvailable}"></td>
        </tr>
        <tr>
            <td th:text="#{label.form.status}"></td>
            <td>
                <div th:if="${order.status} == 0" th:text="#{message.avaits}"></div>
                <div th:if="${order.status} == 1" th:text="#{message.accepted}"></div>
                <div th:if="${order.status} == 2" th:text="#{message.declined}"></div>
            </td>
        </tr>
    </table>
    <form method="post" action="/admin/make_order_decision_accept">
        <input type="hidden" name="order_id" th:value="${order.id}"/>
        <button type="submit" name="decision" th:text="#{label.form.accept}"></button>
    </form>
    <form method="post" action="/admin/make_order_decision_decline">
        <input type="hidden" name="order_id" th:value="${order.id}"/>
        <button type="submit" name="decision" th:text="#{label.form.decline}"></button>
    </form>
</div>
</body>
</html>