<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <title th:text="#{page.text.orders.title}"></title>
</head>
<body>
<div th:insert="parts/menuBar.html :: navbar"></div>

<div class="alert alert-success" th:if="${cancelSuccess}" th:text="#{message.successProcess}"></div>
<div class="alert alert-success" th:if="${#httpServletRequest.getParameter('orderedSuccess')}" th:text="#{message.successProcess}"></div>

<div th:if="${orderList == null || orderList.empty}" class="alert alert-danger"
     th:text="#{message.ordersNotFound}"></div>

<div th:if="${orderList != null && !orderList.empty}">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" th:text="#{label.form.car}"></th>
            <th scope="col" th:text="#{label.form.enginePower}"></th>
            <th scope="col" th:text="#{label.form.fuelTankCapacity}"></th>
            <th scope="col" th:text="#{label.form.releaseYear}"></th>
            <th scope="col" th:text="#{label.form.mileage}"></th>
            <th scope="col" th:text="#{label.form.orderDate}"></th>
            <th scope="col" th:text="#{label.form.price}"></th>
            <th scope="col" th:text="#{label.form.purchasingDate}"></th>
            <th scope="col" th:text="#{label.form.status}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <th scope="row" th:text="${order.car.carModel.model + ' ' + order.car.carModel.serialNumber}"></th>
            <td th:text="${order.car.enginePower}"></td>
            <td th:text="${order.car.fuelTankCapacity}"></td>
            <td th:text="${order.car.releaseYear}"></td>
            <td th:text="${order.car.mileage}"></td>
            <td th:text="${#dates.format(order.orderDate,'HH:mm dd-MM-yyyy')}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${#dates.format(order.purchasingDate,'HH:mm dd-MM-yyyy')}"></td>
            <td>
                <div th:if="${order.status} == 0" th:text="#{message.avaits}"></div>
                <div th:if="${order.status} == 1" th:text="#{message.accepted}"></div>
                <div th:if="${order.status} == 2" th:text="#{message.declined}"></div>
            </td>
            <td>
                <form method="post" action="/user/cancel_order">
                    <input type="hidden" name="order_id" th:value="${order.id}"/>
                    <button type="submit" class="btn btn-secondary" th:text="#{label.form.cancelOrder}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>