<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <title th:text="#{page.text.search.title}"></title>

    <script>
        function setListOfSeries(value) {
            var selectSeries = document.getElementById('serialNumber');

            if (value === ""){
                for (var i = 0; i < selectSeries.length; i++) {
                    selectSeries.options[i].selected = false;

                    if (selectSeries.options[i].id == 'unselectedModel'){
                        selectSeries.options[i].hidden = false;
                        selectSeries.options[i].selected = true;
                    } else {
                        selectSeries.options[i].hidden = true;
                    }
                }

                selectSeries.disabled = true;
            }
            else {
                for (var i = 0; i < selectSeries.length; i++) {
                    if (selectSeries.options[i].id == value){
                        selectSeries.options[i].hidden = false;
                    } else {
                        selectSeries.options[i].hidden = true;

                    }

                    selectSeries.options[i].selected = false;

                    if (selectSeries.options[i].id == 'emptySelect'){
                        selectSeries.options[i].hidden = false;
                        selectSeries.options[i].selected = true;
                    }
                }

                selectSeries.disabled = false;
            }
        }




    </script>
</head>
<body style="background-image: url(/image/search_background.jpg);">
<div th:insert="parts/menuBar.html :: navbar"></div>

<div style="margin-left: 30px; margin-right: 30px; margin-top:10px;background-color:rgba(255,255,255,0.95); background-repeat: no-repeat;height:90%;">
    <div style="margin-left: 20px; margin-right: 20px; margin-top:5px; background-color:#cfd2d6;">
        <p style="margin:15px;">
            <button style="margin:15px;" class="btn btn-success" type="button" data-toggle="collapse"
                    data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" th:text="#{label.form.searchForm}">
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <form th:object="${search_details}" method="post" action="/user/search_process" enctype="utf8"
                  style="margin-left:10px; margin-right:10px;">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="model" th:text="#{label.form.model}"></label>
                        <select class="form-control" name="model" id="model"
                                onChange="javascript:setListOfSeries(this.value);">
                            <option></option>
                            <option th:each="carModel: ${modelList}" th:value="${carModel}"
                                    th:text="${carModel}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="serialNumber" th:text="#{label.form.serialNumber}"></label>
                        <select class="form-control" name="serialNumber" id="serialNumber" disabled>
                            <option id="unselectedModel" th:text="#{message.selectModel}"></option>
                            <option id="emptySelect"></option>
                            <option th:each="carModel: ${carModelList}" th:id="${carModel.model}"
                                    th:value="${carModel.serialNumber}"
                                    th:text="${carModel.serialNumber}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="enginePower" th:text="#{label.form.enginePower}"></label>
                        <input type="text" class="form-control" id="enginePower" name="enginePower" placeholder value>
                        <div th:if="${#fields.hasErrors('enginePower')}" th:errors="*{enginePower}"
                             class="alert alert-danger" role="alert"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="fuelTankCapacity" th:text="#{label.form.fuelTankCapacity}"></label>
                        <input type="text" class="form-control" id="fuelTankCapacity" name="fuelTankCapacity"
                               placeholder
                               value>
                        <div th:if="${#fields.hasErrors('fuelTankCapacity')}" th:errors="*{fuelTankCapacity}"
                             class="alert alert-danger" role="alert"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="releaseYear" th:text="#{label.form.releaseYear}"></label>
                        <input type="text" class="form-control" id="releaseYear" name="releaseYear" placeholder value>
                        <div th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"
                             class="alert alert-danger" role="alert"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="mileage" th:text="#{label.form.mileage}"></label>
                        <input type="text" class="form-control" id="mileage" name="mileage" placeholder value>
                        <div th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="alert alert-danger"
                             role="alert"></div>
                    </div>
                </div>
                <input type="submit" th:value="#{label.form.search}"/>
            </form>
        </div>
    </div>
    <div th:if="${(carList == null || carList.empty) && submitted}" class="alert alert-danger" role="alert"
         th:text="#{message.noItemFound}"></div>

    <div th:if="${carList == null && !submitted}" class="alert alert-primary" role="alert"
         th:text="#{message.pickUpForm}"></div>

    <div th:if="${#httpServletRequest.getParameter('subscriptionExists')}" class="alert alert-danger" role="alert"
         th:text="#{message.alreadySubscribed}"></div>

    <div th:if="${carList != null && !carList.empty}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Engine</th>
                <th scope="col">Fuel tank</th>
                <th scope="col">Release year</th>
                <th scope="col">Mileage</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${carList}">
                <th scope="row" th:text="${car.carModel.model + ' ' + car.carModel.serialNumber}"></th>
                <td th:text="${car.enginePower}"></td>
                <td th:text="${car.fuelTankCapacity}"></td>
                <td th:text="${car.releaseYear}"></td>
                <td th:text="${car.mileage}"></td>
                <td th:text="${car.price}"></td>
                <td>
                    <form th:if="${car.amountAvailable != 0}" action="/user/order" method="post">
                        <input type="hidden" name="car_id" th:value="${car.id}"/>
                        <button type="submit" class="btn btn-info" th:text="#{label.form.orderCar}"></button>
                    </form>
                    <form th:if="${car.amountAvailable == 0}" action="/user/subscribe" method="post">
                        <input type="hidden" name="car_id" th:value="${car.id}"/>
                        <button type="submit" class="btn btn-warning" th:text="#{label.form.subscribe}"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>